

.textarea{
  width: 100% !important;
}

#description_form{
  margin-bottom: 50px;
  width: 100% !important;
}

.forms{
  margin: 50px;
}

.form{
	margin-bottom: 50px;
}


a.add_ingredient{
  margin-bottom: 50px;
  font-weight:bold;
  text-decoration: underline;
}

a.add_step{
  margin-bottom: 50px;
  font-weight:bold;
  text-decoration: underline;
}

.agree_check{
  font-size: 15px;
}

#overflow_area {
  background: white;
  color: gray;
  font-size: 10px;
  padding: 15px;
  width: 50%;
  height: 100px;
  overflow: scroll;
  border: 1px solid #ccc;
}