#main_photo{
  float: right;
  margin-right: 50px;
  margin-left: 50px;
  width: 300px;
  height: 300px;
  margin-height: 100%;
}

.steps {
  margin: 50px;
  justify-content: space-evenly;
}

.one_step {
  text-align: left;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.ingredient{
  width: 200px;
}


